@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
}

body{
    background: #aec4e4;
}

nav{
    width: 100;
    height: 7vw;
    background: linear-gradient(125deg,#1c498c,#0f0343);

}

.nav-container{
    max-width: 90vw;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.freenav{
    width: 7vw;
    object-fit: contain;
}

.nav-profile{
    display: flex;
    align-items: center;
}

.nav-profile-name{
    color: #fff;
    font-size: 1.2vw;
}

.fa-opencart{
    color: #fff;
    font-size: 2vw;
}

.nav-profile-cart{
    position: relative;
}

.cartcount{
    position: absolute;
    top: -15px;
    right: -15px;
    width: 25px;
    height: 25px;
    background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.container{
    width: 90vw;
    margin: 0 auto;
    display: flex;
}

.sidebar{
    width: 20%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.product{
    width: 80%;
    padding: 10px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}

.sidebar-search{
    padding: 10px;
    border: 2px solid transparent;
    width: 100%;
    outline: none;
    border-radius: 6px;
    background: rgb(209, 203, 203);
    transition: .3s;
    margin-bottom: 20px;
}

.sidebar-search:focus{
    border: 2px solid #000;
}

.sidebar-item{
    background: rgb(226, 216, 216);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
    color: #000;
    transition: 0.3s;
    font-size: 1vw;
}

.sidebar-item:hover{
    background: rgb(79, 79, 78);
    color: #fff;
}

.product-item{
    cursor: pointer;
    transition: 0.3s;
}

.product-img{
    width: 100%;
    height: 17vw;
    object-fit: cover;
    border-radius: 15px;
}

.product-item:hover{
    transform: scale(0.9);
}

.modal,
.modal-bg{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-page{
    z-index: 99;
    min-width: 30vw;
    max-width: 60vw;
    max-height: 30vw;
    background: #fff;
    border-radius: 15px;
    padding: 20px;
    overflow: auto;
}

.modaldesc-content{
    width: 100%;
    display: flex;
}

.modaldesc-deteil{
    margin-left: 20px;
}

.modaldesc-img{
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    border-radius: 20px;
}

.btn-control{
    display: flex;
    justify-content: flex-end;
}

.btn{
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    font-size: 1.1vw;
    transition: 0.3s;

}

.btn-buy{
    background: linear-gradient(125deg,#e61b36,#9c1032);
    color: #fff;
    margin-left: 10px;
}

.cartlist{

}

.cartlist-item{
    width: 50vw;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}

.cartlist-left{
    display: flex;
}

.cartlist-left img{
    width: 5vw;
    height: 5vw;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
}

.cartliist-right{
    display: flex;
    align-items: center;

}

.btnc{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    cursor: pointer;
}